@{
    ViewData["Title"] = "Confirmation";
}

<p>Thank you for ordering tickets for the race. Your booking is registered on @DateTime.Now.ToShortDateString(). 
    We will send the tickets as soon as possible.
</p>

<a asp-controller="Home" asp-action="Menu">Back</a>
